.gradle
build
account-service/build
account-service/.gradle

bill-service/build
bill-service/.gradle

config-service/build
config-service/.gradle

deposit-service/build
deposit-service/.gradle

notification-service/build
notification-service/.gradle

gateway-service/build
gateway-service/.gradle

registry-service/build
registry-service/.gradle

.idea